<template>
	<div class="global_img">	
  <h3>{{groupe.name}}</h3>
  <div>
 <img id="photo" class="img_group" :src="groupe.photo" alt="Card image cap">
 </div>
	</div>
</template>
<script> 

export default {
  name: 'card',
  props: {
    groupe:  Object
  }
}
</script>
<style>
.global_img{
   display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  height: 21rem;
  min-height: 20%;
  max-width: 300px;
  max-height: 336px;

}
template{
  display:flex;
  flex-wrap: wrap;
}
.img_group{
  width: 95%;
}
</style>
