<template>
<div>
    <h1>{{comeback.name}}</h1>
    <iframe class="frame" width="400px" height="405px" :src="comeback.youtube"></iframe>
</div>
</template>
<script>
export default {
name:"comeback",
props:{
    comeback:Object
}    
}
</script>
<style>
.frame{
    margin-right: 20px;
    width: 500px;
    height: 350px;
}
@media screen  and (max-width: 400px){
    .frame{
        margin:auto;
        width: 350px;
         height: 250px;
    }    
}
</style>

