<template>
    <div>
        <h1>{{descriptiongroupe.name}}</h1>
    </div>
</template>
<script>
export default {
    name:'descriptiongroupe',
    props:{
        descriptiongroupe: Object
    }
}
</script>
<style>

</style>

