<template>
<div class="taille_img">
<h2> {{popular.name}}</h2>
<div>
<img id="photo" class="taille_group" :src="popular.photo" alt="Card image cap">
</div>

</div>
</template>

<script>
export default {
name :'Popular', 
    props :{
        popular :Object
    }
}

</script>
<style>

.taille_img{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  height: 21rem;
  min-height: 20%;
  max-width: 300px;
  max-height: 336px;
 

}
template{
  display:flex;
  flex-wrap: wrap;
}
.taille_group{
  width: 95%;

}
</style>

