<template>
<div>
  <div>
  <button @click="backToTop"  v-animate="'slide-up'" class="acceuil"> <img src="https://cdn2.iconfinder.com/data/icons/game-center-mixed-icons/512/arrow4.png" alt=""></button>
  </div>
      <div class="imgacceuil"></div>
      <hr class="trait">
    <div>  
      <div class="search">
       
        <div class="check">
            <div class="field">
              <b-checkbox v-model="girlband" id="girlband" name="girlband" size="is-large">Girlsband</b-checkbox>
             </div>
           <div class="field">
             <b-checkbox v-model="boyband" id="boyband" name="boyband" size="is-large">Boysband</b-checkbox>
             </div>
             <div class="field">
             <b-checkbox v-model="all" id="Tous" name="tous" size="is-large">Afficher tous les groupes</b-checkbox>
             </div>
        </div>
        <div class="rechercher">
            <div>
            <b-input v-model="search" @keyup.native="showAll()" type="text" class="mid" placeholder="Rechercher un groupe"
                size="is-large"
                icon="account">
            </b-input>
            </div>
        </div>
    </div>    
    
      </div>
    <div class="background_img">  
      <div v-if="!all">
        <hr class="trait">
      </div>

      <div v-if="all" class="img_general">
        <card v-model="all" v-for="element in filtregroupes" :key="element.id" :groupe="element"/> 
      </div>  

      <div v-if="!all">
        <h1 class="titre"> Les plus populaire: </h1>
      </div>

      <div v-if="!all" class="img_general">
        <Popular v-for="el in populars" :key="el.id" :popular ="el"/>
      </div>

      <div v-if="!all">
      <hr class="trait">
      <h1 class="titre"> Les Rookies :</h1>
      </div>

      <div v-if="!all" class="img_general">
        <rookie v-for="elements in rookies" :key="elements.id" :rookie="elements"/>
      </div>

      <div v-if="!all">
        <hr class="trait">
        <h1 class="titre"> Récent Comeback :</h1>
      </div>
      <div v-if="!all" class="video_general">
        <comeback v-for="els in comebacks" :key="els.id" :comeback="els"/>
      </div> 
     </div>  
     <!-- <div v-if="!all" class="img_general">
  <descriptiongroupe v-for="eles in descriptiongroupes" :key="eles.id" :descriptiongroupe="eles"/>
     </div> -->
</div> 
</template>

<script>
import comeback from './components/comeback'
import rookie from './components/rookie'
import Popular from './components/Popular'
import card from './components/card'
import groupjson from './components/group.json'
import popularjson from './json/Popular.json'
import rookiejson from './json/rookie.json'
import comebackjson from './json/comeback.json'
// import descriptiongroupe from './components/descriptiongroupe'



export default {
  name : 'App',
  components:{
    card,
    Popular,
    rookie,
    comeback,
    // descriptiongroupe,
  },
  data (){
    return {
      all: false,
      comebacks:comebackjson,
      rookies :rookiejson,
      populars :popularjson,
      groupes : groupjson,
      // descriptiongroupes : groupjson,
      search : '',
      boyband : false,
      girlband : false,
      
    }
  },
  computed: {
    filtregroupes: function () {
      if (this.boyband === true || this.girlband === true)
       {
        return this.sortByType().filter((groupe) => {
          return groupe.type.toLowerCase().match(this.search)
        })
      }
      return this.groupes.filter((groupe) => {
        return groupe.name.toLowerCase().match(this.search)
      })
    }
  },
  methods:{
    sortByType(){
    
    },
    
    showAll() {
      if(this.search === '')
      this.all = false
      else
      this.all =true
    },
    backToTop: function() {
      window.scrollTo(0,0)
    }  
}
 
}
</script>
<style>
.background_img{
  background-image: url(http://www.allwhitebackground.com/images/2/2280.jpg)

}
html{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
.acceuil{
  z-index: 1000;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 25px;
}
.check{
  width: 50%;
}
.rechercher{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}
.titre{
  font-size: 25px;
  
}
.search{
  background-image: url(https://visme.co/blog/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-037.jpg);
  background-repeat: no-repeat;
  opacity: 50%;
  background-size: cover;
  height: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.mid{
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 60px;
  display: flex;
}
.img_general{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.video_general{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.imgacceuil{
    width: 100%;
    height: 80vh;
    background-image: url(https://i.imgur.com/ZuK7uHy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
#rechercher{
   color: black;
  text-align: center;
  font-size: 30px;
}
.trait{
      border-top: 4px solid black;
      margin: 0;
}
.popular{
 display: flex;
 flex-wrap: wrap;

}
html{
  margin:0;

}
body{
  margin:0;
}
@media screen and (max-width: 450px) {
  
  .taille_img{
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    width: 165px;
    height: 12rem;
    min-height: 20%;
    max-width: 300px;
    max-height: 336px;
  }
  .imgacceuil{
    width: 100%;
    height: 40vh;
    background-image: url(https://i.imgur.com/ZuK7uHy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .global_img{
    display: flex;
  flex-direction: column;
  text-align: center;
  width: 150px;
  height: 11rem;
  }
}
</style>
